@using CasaOrtApp.Models
@model IEnumerable<CasaOrtApp.Models.Emprendimiento>
@{
    ViewData["Title"] = "Likes";
    var emprendimientos = ViewData["Likes"];
}

<h3>Employee Data</h3>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(e => e.Street)</th>
            <th>@Html.DisplayNameFor(e => e.Number)</th>
            <th>@Html.DisplayNameFor(e => e.Id)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in (IEnumerable<Emprendimiento>)emprendimientos)
        {
            <tr>
                <td>@emp.Street</td>
                <td>@emp.Number</td>
                <td>@emp.Id</td>
            </tr>

        }
    </tbody>
</table> 