@model CasaOrtApp.Models.House

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Esta seguro de borrar?</h3>
<div>
    <h4>Casa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SwimmingPool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SwimmingPool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
